:root
{
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
  --Yellow: hsl(47, 88%, 63%);
}



*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--Yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;  
}

.container{
  background-color: hsl(0, 0%, 100%);
  width:300px ;
  padding: 20px;
  border-radius: 13px;
 box-shadow: 15px 15px 0 black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

img{
  max-width: 100%;
  
  border-radius: 15px;
  }

  .published-container{
    
   
  }

.learning{
  font-weight: bold;
  padding: 7px 14px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  display: inline-block;

}

.HTML{
  color: hsl(47, 88%, 63%);
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;

}

.paragraph{
  color: hsl(0, 0%, 50%);
}

.published{
  margin-top: 10px;
}



.profile-container {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.Name{

  font-weight: bold;
  font-family: sans-serif;
}

.monkey{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;  
}