:root
{
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
  --Yellow: hsl(47, 88%, 63%);
}



*{
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
}

body{
  background-color: var(--Yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;  
}

.container{
  background-color: var(--White);
  width:350px ;
  padding: 20px;
  border-radius: 13px;
  border: 1px solid var(--Black);
 box-shadow: 10px 10px 0 black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 transition: all 300ms;
}

.container:hover{

  box-shadow: 15px 15px 0 black;


}


.text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

img{
  max-width: 100%;
  
  border-radius: 15px;
  }

  

.learning{
  font-weight: bold;
  padding: 7px 14px;
  background-color:var(--Yellow);
  border-radius: 5px;
  display: inline-block;

}

.HTML{
  color: var(--Black);
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
}

.HTML h2
{
  font-weight: 800;
}

.HTML:hover{
  color: var(--Yellow); 
  
}


.paragraph{
  color: var(--Grey);
}

.published{
  margin-top: 10px;
}



.profile-container {
  display: flex;
  align-items: center; 
  gap: 10px;
  margin-top: 20px;
}

.Name{

  font-weight: bold;
  font-family: sans-serif;
}

.monkey{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;  
}